body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    overflow-y: auto;
    flex: 0 0 auto;
}

.chosen {
    box-shadow: 0px 0px 8px;
    /* border: 3px solid rgb(173, 216, 230); */
    color: var(--bs-primary);
}

.chosen > * {
    color: black;
}

main {
    flex: 1;
}

.card-img-custom {
    min-height: 15rem;
    max-height: 15rem;
}

th, td {
    min-width: auto;
    max-width: 250px;
}

.th-order-w-100, .td-order-w-100 {
    max-width: 100px;
}

.truncated-text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	line-clamp: 2;
    overflow: hidden;
}

.tooltip {
    font-size: 14px;
}

.tooltip .tooltip-inner {
   background-color: #343a40;
   color: #fff;
   border-radius: 0.25rem;
   padding: 0.5rem 1rem;
}

.tooltip .arrow::before {
   border-top-color: #343a40;
}

.notification {
    z-index: 1056;
}